 
.card {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    cursor: pointer;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
                0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
                0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12),
                0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
}
body{
    background: linear-gradient(to right, #0a504a, #38ef7d) !important;
    color: #fff;
}
.l-bg-cherry {
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff;
}
.l-bg-blue-dark {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
}
.l-bg-green-dark {
    background: linear-gradient(to right, #0a504a, #38ef7d) !important;
    color: #fff;
}
.l-bg-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
}
.card .card-statistic-3 .card-icon-large {
    font-size: 110px;
}
.card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: -5px;
    top: 20px;
    opacity: 0.1;
}
.progress-bar {
    background-color: rgba(0, 0, 0, 0.1);
}
.l-bg-cyan {
background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
color: #fff;
}

.l-bg-green {
background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
color: #fff;
}

.l-bg-orange {
background: linear-gradient(to right, #f9900e, #ffba56) !important;
color: #fff;
}

.l-bg-cyan {
background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
color: #fff;
}

.rich{
font-size: 3rem;
text-transform: capitalize;
}
 
.progress_id{
    height: 3rem !important;
}
.target{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.best-buyer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0rem .5rem 1.5rem rgba(0, 0, 0, 0.1);
    padding: .50rem .80rem;
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff;
    border-radius: 10px;

}
h1{
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff;
    padding: 10px;
}
/* .payment{
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff; 
    border-radius: 20px;
} */
.buyer{
    padding: 10px;
    overflow-y: scroll; border: 1px solid #ccc;
    scrollbar-color: #888 #f0f0f0; /* Thumb color, track color */
    scrollbar-width: thin; /* Thin scrollbar */
    height: 80vh;
}

/* For WebKit-based browsers */
::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
    background-color: #f0f0f0; /* Background color of the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 20px; /* Rounded corners for the thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color when hovered */
  }
  
  /* For Firefox */
  
  